body.tabbing {
    .consonant-Wrapper {
        .consonant-FiltersInfo,
        .consonant-LeftFilters,
        .consonant-TopFilters,
        .consonant-Pagination {
            *:focus {
                border: @consonantFocusedColor solid 2px;
            }
        }

        .consonant-CardsGrid {
            *:focus {
                outline: @consonantFocusedColor solid 3px;
            }

            .consonant-Card {
                &-videoButton-wrapper:focus {
                    border: none;

                    .consonant-Card-videoIco {
                        outline: @consonantFocusedColor solid 4px;
                        outline-offset: 3px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}
