body.tabbing {
    .consonant-Wrapper {
        *:focus {
            outline: @consonantFocusedColor solid 2px;
        }

        .consonant-CardsGrid,
        .consonant-Navigation--carousel {
            *:focus {
                outline: @consonantFocusedColor solid 4px;
                outline-offset: 3px;
            }
        }
    }

    // .consonant-Navigation--carousel,
    // .consonant-CardsGrid {
    //     *:focus {
    //         outline: @consonantFocusedColor solid 4px;
    //         outline-offset: 3px;
    //     }
    // }

    // .consonant-Pagination {
    //     *:focus {
    //         outline: @consonantFocusedColor solid 2px;
    //     }
    // }
}
